# Node
node_modules/

# Maven
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Logs
**/*.log
HELP.md

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings/
**/.springBeans
**/.sts4-cache/

### IntelliJ IDEA ###
**/.idea/
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**/build/

### VS Code ###
**/.vscode/